

@media (max-width: 400px) {

    .sectionInitial {
        width: 100%;
    }
    .sectionInitial img{
        width: 150px;
        
    }
    .sectionInitial #nino{
    padding: 0 10vh;
    padding-top: 5vh;
    
    
}

.sectionInitial #nina{
    padding: 0 10vh;
    
   
    
}

    .sectionInitial h1,h2,h3 {
        font-size: 30px;
       
    }
}


@media (min-width: 1700px){
   
}

@media (max-height: 760px){
    
}