.drawer {
  cursor: url("../../assets/paint-brush.svg") 0 32, auto;
}

.btn-download {
  background-color: #a0b9d0;
  border: none;
  font-size: 20px;
}

.btn-download:hover {
  background-color: #6f95b8;
}

.Col-Image
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Col-Image svg
{
  height: 100vh;
}

.Col-CollorPallete
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-arrows
{
  display: none;
}

.btn-img {
  cursor: pointer;
  height: 70px;
}

@media (max-width: 768px) {

  .Col-Image img
  {
    display: none;
  }

  .mobile-arrows
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    margin: 5px 0px;
  }

  .Col-Image
  {
    margin: 10px 0px;
  }

  .Col-Image svg
  {
    height: 100%;
    width: 100%;
  }
}
