.navBar {
    background-color: #badbf1;
    max-height: 10vh;
    max-width:  100%;
}

.logo1 {
    height: 50%;
}
img {
    padding-top: 2vh;
    height: 200px;

}
.divisorLine {
    border: solid 3px #999999;
}