.drawer {
  width: 500px;
}

.str0 {
  stroke: #2b2a29;
  stroke-width: 20;
  stroke-miterlimit: 22.9256;
}
.fil1 {
  fill: #fefefe;
}
.fil0 {
  fill: #2b2a29;
}

.str1 {
  stroke: #2b2a29;
  stroke-width: 141.11;
  stroke-miterlimit: 22.9256;
}

.fil3 {
  fill: none;
}

.fil2 {
  fill: #fefefe;
}
