.pallete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  width: 150px;
  padding: 10px 0px;
  max-height: 800px;
  background-color: #d6b9b9;
  border-radius: 10px;
}

.circle-picker > span > div > span > div {
  cursor: url("../../assets/mural.svg") 15 15, pointer !important;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-top: 10px;
}

.btn-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  border-color: black;
}

.icons {
  font-size: 25px;
}

.icon-flip {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.button-palette {
  border-color: black;
  width: 90px;
}

.icon-palette {
  margin-right: 4px;
}
