.container-gallery {
  justify-content: center;
  padding-top: 15px;
  background-color: #568fc3;
}

.item-gallery {
  display: flex;
  justify-content: center;
  height: 150px;
}

.item-gallery > svg:first-child {
  width: 100%;
  height: 135px;
}

.square-gallery {
  cursor: pointer;
}

.icon-drawer,
.icon-audio {
  position: absolute;
  top: 30%;
  font-size: 45px;
  cursor: pointer;
}

.icon-drawer {
  color: #1b6db9;
}

.icon-audio {
  color: #f27838;
}

.container-gallery-father{
  padding: 0;
}

/*CUSTOMIZANDO SCROLLBAR*/
.container-gallery-father::-webkit-scrollbar
{
  width: 0.4em;
  cursor: pointer;
}
.container-gallery-father::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.container-gallery-father::-webkit-scrollbar-thumb
{
  background: #1b6db9d2; 
  border-radius: 10px;
}
.container-gallery-father::-webkit-scrollbar-thumb:hover
{
  background: #1B6DB9;
}

.container-gallery-father{
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
}

